{{template "header"}}
<div class="col-sm-3">
<nav class="nav flex-column nav-justified nav-pills">
    {{range $element := .Indicators.List}}
    <a href="/indicator/{{$element.Slug}}" class="nav-item btn btn-primary">{{$element.Name}}</a>
    {{end}}
    {{template "filter"}}
    <a href="/category" class="nav-item btn btn-danger">&lt;&lt; {{gt "Back"}}</a>
</nav>
</div>
{{template "footer"}}
