{{template "header"}}
<div class="col-sm-3">
<nav class="nav flex-column nav-justified nav-pills">
    <a href="/menu" class="nav-item btn btn-danger">&lt;&lt; {{gt "Back"}}</a>
</nav>
</div>
{{template "footer"}}
