{{define "filter"}}
    <form class="nav-item" method="GET">
        <a href="#" class="btn btn-success"> &lt;&lt;</a>
        <input size="12" type="text" name="filter" id="filter" placeholder={{gt "Filter"}}>
        <a href="#" class="btn btn-success"> &gt;&gt;</a>
    </form>
{{end}}
