{{define "footer"}}
<!-- JavaScript -->
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/popper.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
{{end}}
