{{define "header"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- General information -->
    <meta name="author" content="LifeMon">
    <meta name="description" content="">
    <link rel="icon" type="image/png" href="/static/img/favlogo.png">
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css" />
    <title>LifeMon</title>
</head>
<body>
{{end}}
