{{template "header"}}
<div class="container">
{{gt "It seems there is no data yet. You can then create one account by simply entering a password."}}
{{gt "Please take some time to choose a good password. If you can't remember it, your datas won't be available anymore."}}
<form action="/create" method="POST">
    <div class="form-group">
        <label for="password">{{gt "Password"}}</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="{{gt "Password"}}">
    </div>
    <button type="submit" class="btn btn-primary">{{gt "Submit"}}</button>
</form>
</div>
{{template "footer"}}
