{{template "header"}}
<div class="col-sm-3">
{{if .Indicator.Description}}
<div class="float-right"><a href="#collapseDefinition" data-toggle="collapse" aria-expanded="false" aria-controls="collapseDefinition"><img src="/static/img/help.png" alt="?" /></a></div>
{{end}}
<h4 class="text-center">{{.Indicator.Name}}</h4>
<p id="collapseDefinition" class="collapse small">{{.Indicator.Description}}</p>
<form method="POST">
    <input type="hidden" name="indicator" id="indicator" value="{{.Indicator.Slug}}">
    {{range $element := .Indicator.Elements}}
    {{if $element.IsQuantity}}
    <div class="input-group">
        <input type="text" class="form-control form-control-sm" name="{{$element.Slug}}" id="{{$element.Slug}}" placeholder="{{$element.Label}}">
        <div class="input-group-addon form-control-sm">{{$element.Unit}}</div>
    </div>
    {{end}}
    {{if $element.IsString}}
    <div class="form-group">
        <input type="text" class="form-control form-control-sm" name="{{$element.Slug}}" id="{{$element.Slug}}" placeholder="{{$element.Label}}">
    </div>
    {{end}}
    {{if $element.IsChoices}}
    {{range $value := $element.Values}}
    <div class="form-check form-check-inline">
        <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="{{$element.Slug}}" id="{{$element.Slug}}" value="{{$value.Label}}" />
        {{$value.Label}}</label>
    </div>
    {{end}}
    {{end}}
    {{if $element.IsCursor}}
    <div class="form-group">
        <div class="float-right"><a href="#collapse_description_{{$element.Slug}}" data-toggle="collapse" aria-expanded="false" aria-controls="collapse_description_{{$element.Slug}}"><img src="/static/img/help.png" alt="?" /></a></div>
        {{$element.Label}} : <span id="output_{{$element.Slug}}">{{$element.Min}}</span>
        <p id="collapse_description_{{$element.Slug}}" class="collapse small">{{$element.Description}}</p>
        <div class="input-group">
            <div class="input-group-addon form-control-sm">{{$element.Min}}</div>
            <input type="range" class="form-control range" name="{{$element.Slug}}" id="{{$element.Slug}}" min="{{$element.Min}}" max="{{$element.Max}}" value="{{$element.Min}}" onchange="console.log(this.value);document.getElementById('output_{{$element.Slug}}').innerHTML=this.value;" />
            <div class="input-group-addon form-control-sm">{{$element.Max}}</div>
        </div>
    </div>
    {{end}}
    {{end}}
    <div class="form-group">
        <div class="float-right"><a href="#collapseDatetime" data-toggle="collapse" aria-expanded="false" aria-controls="collapseDatetime"><img src="/static/img/clock.png" alt="D" /></a></div>
        <div class="collapse" id="collapseDatetime">
            <div class="form-inline">
            <label>{{gt "Date :"}}&nbsp;</label>
            <input type="text" class="form-control form-control-sm" name="datetime" id="datetime" placeholder="{{gt "Date and time"}}" value="{{.Now}}">
            </div>
        </div>
        <label for="notes">{{gt "Notes"}}</label>
        <textarea class="form-control" name="notes" id="notes"></textarea>
    </div>
    <div class="text-center">
    <a href="/category/{{.Indicator.Category}}" class="btn btn-danger">{{gt "Cancel"}}</a>
    <button type="submit" class="btn btn-success">{{gt "Submit"}}</button>
    </div>
</form>
</div>
{{template "footer"}}
