{{template "header"}}
<div class="col-sm-3">
<form action="/login" method="POST">
    <div class="form-group">
        <label for="password">{{gt "Password"}}</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="{{gt "Password"}}">
    </div>
    <button type="submit" class="btn btn-primary">{{gt "Submit"}}</button>
</form>
<a href="/public" class="btn btn-primary">Accès aux données publiques</a>
</div>
{{template "footer"}}
