{{template "header"}}
<div class="col-sm-3">
<nav class="nav flex-column nav-justified nav-pills">
    <a href="/category" class="nav-item btn btn-primary">{{gt "Add value"}}</a>
    <a href="/dashboard" class="nav-item btn btn-primary">{{gt "Dashboard"}}</a>
    <a href="/personal" class="nav-item btn btn-primary">{{gt "Personal informations"}}</a>
    <a href="/parameters" class="nav-item btn btn-primary">{{gt "Settings"}}</a>
    <a href="/logout" class="nav-item btn btn-danger">&lt;&lt; {{gt "Disconnect"}}</a>
</nav>
</div>
{{template "footer"}}
