{{template "header"}}
<div class="col-sm-3">
<h4 class="text-center">{{gt "Personal informations"}}</h4>
<form method="POST">
    <div class="form-group input-group">
        <input type="text" class="form-control form-control-sm" name="name" id="name" placeholder="{{gt "Name"}}">
        <input type="checkbox" class="input-group-addon form-control-sm" name="name_public" id="name_public">
    </div>
    <div class="form-group input-group">
        <input type="text" class="form-control form-control-sm" name="birthday" id="birthday" placeholder="{{gt "Birthday"}}">
        <input type="checkbox" class="input-group-addon form-control-sm" name="birthday_public" id="birthday_public">
    </div>
    <div class="form-group input-group">
        <input type="text" class="form-control form-control-sm" name="blood-group" id="blood-group" placeholder="{{gt "Blood group"}}">
        <input type="checkbox" class="input-group-addon form-control-sm" name="blood-group_public" id="blood-group_public">
    </div>
    <div class="form-group input-group">
        <input type="text" class="form-control form-control-sm" name="allergy" id="allergy" placeholder="{{gt "Allergy"}}">
        <input type="checkbox" class="input-group-addon form-control-sm" name="allergy_public" id="allergy_public">
    </div>
    <div class="form-group">
        <div class="input-group">
            <label for="notes">{{gt "Notes"}}</label>
            <input type="checkbox" class="input-group-addon form-control-sm" name="notes_public" id="notes_public">
        </div>
        <textarea class="form-control" name="notes" id="notes"></textarea>
    </div>
    <div class="text-center">
    <a href="/menu" class="btn btn-danger">&lt;&lt; {{gt "Back"}}</a>
    <button type="submit" class="btn btn-success">{{gt "Save"}}</button>
    </div>
</form>
</div>
{{template "footer"}}
